// .hr-blue {
//   height: 5px;
//   width: 100%;
//   background: $blue;
//   position: relative;
//   top: 1px;
//   @media (min-width: 768px) {
//     display: none;
//   }
// }

.treat {
  font-size: 1.8em;
  color: $purple;
  font-family: sans-serif;
  font-weight: 200;

  &.first {
    font-size: 2.5em;
    margin-top: 5%;
  }
  text-align: center;
  margin: 5% 0;
  @media (min-width: 768px) {
    font-size: 3em;
    margin: 5px;
    &.first {
      font-size: 4.2em;
    }
  }
  @media (min-width: 1000px) {
    font-size: 4em;
    margin-top: 0;
    &.first {
      font-size: 5.5em;
      margin-top: 2%;
    }
  }
  @media (min-width: 1200px) {
    &.first {
      font-size: 5.5em;
      margin-top: 0;
    }
  }
}

.divider {
  @include banner;
  margin: 6% 0;
}
.middle_divider {
  position: relative;
  top: 45%;
  height: 5px;
  width: 100%;
  background: $pink;
}

.first_images {
  img {
    display: block;
    width: 98%;
    margin: 5% auto;
    border-left: 10px solid $cream;
    @media (min-width: 768px) {
      width: 60%;
    }
  }
  img:nth-child(2) {
    border-color: $purple;
  }
  #willitwork {
    border: 1px solid $blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 90%;
    margin: 2% auto;
    p.check {
      @include checkpoints;
      font-family: $checkfont;
      font-size: 1.5em;
      &:first-child {
        // margin-top: 7%;
      }
    }
    @media ('min-width: 768px') {
      font-size: 1.5em;
      width: 70%;
      margin: 0 auto;
    }
    @media ('min-width: 768px') {
      font-size: 1.8em;
      .ok-1 {
        margin: 2%;
      }
      .ok-3 {
        margin: 2% auto;
      }
    }
  }
}


.hr-flat {
  height: 1px;
  width: 100%;
  background: $pink;
  margin: 5% 0;
}

.hr-point {
  height: 1px;
  width: 100%;
  background: $blue;
  margin: 5% 0;

  &::after {
      content:'';
      position: absolute;
      border-style: solid;
      border-width: 15px 15px 0;
      border-color: #fff transparent;
      display: block;
      width: 0;
      z-index: 1;

      left: 50%;
  }
  &::before {
      content:'';
      position: absolute;
      border-style: solid;
      border-width: 16px 16px 0;
      border-color: $blue transparent;
      display: block;
      width: 0;
      z-index: 1;

      left: 50%;
  }
}

blockquote {
  font-size: 2em;
  padding: 4%;
  border-left: 5px solid $green;
  background: lighten($green, 40%);
  margin: 8% 2%;
  &.blockquote-reverse {
    border-right: 5px solid $orange;
    background: lighten($orange, 30%);
  }
  @media (min-width: 768px) {
    width: 70%;
    margin: 4% auto;
  }
}


.company-statement {
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}


// science girl section
.img_science {
  display: block;
  margin: 0 auto 7%;
  width: 98%;
  border-right: 10px solid $green;
  border-radius: 30px;
  @media (min-width: 768px) {
    width: 60%;
    margin-bottom: 2%;
  }
}

#why {
  border: 1px solid $blue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;

  position: relative;
  margin-bottom: 50px;

  @media ('min-width: 768px') {
    font-size: 1.5em;
    width: 75%;
    margin: 0 auto;
  }
  @media ('min-width: 1200px') {
    font-size: 1.8em;
    .ok-1 {
      // margin: 2%;
    }
    .ok-3 {
      // margin: 2% auto;
    }
  }
}

#why p.check {
  @include checkpoints;
  padding: 20px;
  font-family: $checkfont;
  font-size: 1.5em;
  //these are the icons in that section
  &:first-child img {
    display: block;
    margin: auto;
    width: 85%;
    padding-bottom: 4%;
  }
  &:nth-child(2) img {
    display: block;
    margin: auto;
    width: 35%;
  }
  &:nth-child(3) img {
    display: block;
    margin: auto;
    width: 60%;
  }
  @media (max-width: 768px) {
    width: 100%;
    img {
      display: block;
      margin: auto;
      font-size: 2.2em;
    }
  }
  @media (max-width: 1000px) {
    // font-size: 1.1em;
  }
}


//image at bottom of body
.bottom_banner {
  @include bannerImages;
  height: 220px;
  max-width: 100%;
  background: url('../images/vitaYouthBanner.png') no-repeat;
  background-size: cover;
  @media (min-width: 550px) {
    height: 450px
  }
  @media (min-width: 900px){
    height: 650px;
  }
  @media (min-width: 1200px){
    height: 750px;
  }
  @media (min-width: 1400px){
    height: 1000px;
  }

}
