

.footer {
  @include banner;
  height: 130px;
  @media (max-width: 768px) {
    height: 250px;
  }
  @media (max-width: 1000px) {
    height: 240px;
  }
}


.disclaimer, .ingredients {
  padding: 1%;
  font-family: sans-serif;

}

.copyright {
  margin: auto;

  p {
    bottom: 5px;
    @media (min-width: 768px) {
      bottom: 15px;
    }
  }

  a {
    color: white;
    font-size: 1.3em;
    padding-top: 10px !important;
    margin-top: 10px !important;
    &:hover, &:active {
      color: $purple;
      background: lighten($purple,40%) !important;
    }
    &:active {
      color: white;
      background: transparent !important;
    }
  }
  .navbar ul.nav.text-center.col-md-8.col-md-offset-2 {
    padding-right: 0 !important;
  }
  .middle_divider {
    top: 70px;
    height: 2px;
    @media (max-width: 768px) {
      top: 30px;
    }
  }
}
