
//menu colors for looping
$menucolors: (#D93F69, #77B227,#0075B3);
$pink: #D93F69;
$green: #77B227;
$blue: #0075B3;

$purple: #5D327A;
$fushia: #A4286A;

$cream: #E37A66;
$orange: #F58223;

$navfont: 'Kaushan Script', cursive;
$headfont: serif;
$mainfont: sans-serif;
$checkfont:  'Courgette', cursive;
$treatfont: 'Satisfy', cursive;

// GOOGLE FONTS

// font-family: 'Courgette', cursive;
//
// font-family: 'Lobster Two', cursive;
//
// font-family: 'Kaushan Script', cursive;
//
// font-family: 'Satisfy', cursive;
//
// font-family: 'Lobster', cursive;
